/*n00bnote#2: stylesheet for base site, do not change the directory of this file, or other css files*/


/*overloading materialise css default tile / card background colour*/
/*.red{
      background-color: #0a0a0a !important; /*black because joshua is weird.*/
      /*old orangy colour: #F44336 */
/*}

/*and the bloody font as well - designer my arse joshua*/
/*.html {
    line-height: 1.5;
    /*font-family: "Roboto", sans-serif;*/
/*    font-family: 'Barrio', cursive;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}
*/
.resume-page{
   background-color: rgba(0, 0, 0, 1);
   color: rgba(255,255,255,1);
   padding-top: 1em;
   padding-bottom: 1em;
   padding-left: 1em;
   padding-right: 1em;
  /* text-align: center;*/
}

.brand-logo {
  font-family: 'Barrio', cursive !important;

}

.side-menu-text {
  font-family: 'Barrio';
  color: "White";
  font-size: 24px;
  padding-left: 32px;
}

.card-text{
  color: "Black";
}
.p{
  color:"Black";
}

/*.card-title {
  color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: $card-padding;
  font-size: 24px;
  font-weight: 300;
}*/

.card-padding-title{
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

.card-padding-text{

  padding-bottom: 1em;
  text-align: center;
}

.icon-colour{
  background-color: white;
  color: white;

}

.card .card-image .card-title {
  color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 24px;
}

.teal-text {
    color: white; !important;
}

textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}
