<!DOCTYPE html>
{%load static%}
<html>
  <head>
    <!-- need materialize, ajax, json and jquery etc cdn links-->

    <!-- XXX: JQUERY / AJAX CDN refs here: -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.js"> </script>
    <!-- XXX: /JQUERY/AJAX CDN refs -->

    <!-- XXX: Font refs here:-->
    <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--XXX: /fonts -->


    <!--XXX: Style sheets here: -->
    <link rel="stylesheet" href="{% static "css/materialize-src/sass/materialise.css" %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    <!-- XXX: /stylesheets -->


  </head>

  <body class="white">
    <nav>
      <div class="nav-wrapper #ef9a9a black accent-5">
        <a href="#" class="brand-logo left white-text text-lighten-1" style="padding-left:0.5em;">JOSHUA ESPINOSA.</a>

          <a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a>


        <ul class="right hide-on-small-and-down">
          <li><a class="white-text text-darken-2" href="collapsible.html"> STORE</a></li>
          <li><a class="white-text text-darken-2" href="sass.html">GALLERY</a></li>
          <li><a class="white-text text-darken-2" href="badges.html">PRICING</a></li>
          <li><a class="white-text text-darken-2" href="collapsible.html">CONTACT</a></li>
          <li><a class="white-text text-darken-2" href="collapsible.html">LOGIN</a></li>
        </ul>


        <ul class="side-nav black show-on-small-and-up" id="mobile-nav"style="padding-top:1em;">
          <li class="side-menu-text"> MENU </li>
          <li class="side-menu-text"> { </li>
          <li><a class="white-text text-darken-2" href="collapsible.html"> > STORE</a></li>
          <li><a class="white-text text-darken-2" href="sass.html">> GALLERY</a></li>
          <li><a class="white-text text-darken-2" href="badges.html">> PRICING</a></li>
          <li><a class="white-text text-darken-2" href="collapsible.html">> CONTACT</a></li>
          <li><a class="white-text text-darken-2" href="collapsible.html">> LOGIN</a></li>
          <li class="side-menu-text"> } </li>
        </ul>
        </div>




    </nav>

  <br>
  <div class="container">
  <!-- XXX: for any n00bs, do NOT delete these tags-->
  {%block bodyblock%}
  {%endblock%}
  <!-- XXX -->
</div>

<!--copyright footer  -->
  <footer class="page-footer #ef9a9a grey accent-5 test" style="position:fixed; bottom:0px; width:100%;" >
    <div class="container"->
      <div class="row">
        <div class="col l6 s12">

          <h5 class="white-text center">Footer Content</h5>

          <p class="white-text center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus ullamcorper eros finibus suscipit.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text center">Links</h5>
            <ul class="center">
              <li><a class="white-text " href="#!">God Save The Queen</a></li>
              <li><a class="white-text " href="#!">#BetterTogether</a></li>
              <li><a class="white-text " href="#!">Scottish Conservitives</a></li>
              <li><a class="white-text " href="#!">#VoteLeave</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        <div class="container white-text">
          © 2016 Copyright Jonathan Bain / Joshua Espinoza
          <a class="white-text right" href="#!">My GitHub</a>
        </div>
      </div>
    </footer>
  </body>
  <script>
  $( document ).ready(function(){

    $(".button-collapse").sideNav();
  })
  </script>
</html>
