{%extends 'base.html'%}
{%block bodyblock%}
{%load static%}

      <div class="row">
        <div class="col s6 align-left">
          <div class="card small #ef9a9a black accent-5">
            <div class="card-image" style="max-height:82%">
              <img style="min-width:450px;" src="{% static "images/fashion.png" %}">
              <span class="card-title card_title_text "style="background-color: rgba(255, 255, 255, 0.5);
              width: 100%;"><b>Fashion</b></span>
            </div>

            <div class="card-action">
              <span class="teal-text"> <a href="#"</a> </span>
              <span class="teal-text">_DESIGN_GALLERY</span>


            </div>

          </div>
        </div>

        <div class="col s6 align-right">
          <div class="card small #ef9a9a black accent-5">
            <div class="card-image" style="max-height:82%;">
              <img style="min-width:450px;" src="{% static "images/translate.png" %}">
              <span class="card-title card_title_text "style="background-color: rgba(255, 255, 255, 0.5);
              width: 100%;"><b>Translation Services</b></span>
            </div>

            <div class="card-action">
              <span class="teal-text "> <a href="#"</a> </span>
              <span class="teal-text">_resumé</span>


            </div>
          </div>
        </div>
      </div>

      <div class="row">

    <!--XXX XXX XXX -->
    <div class="row">

    <div class="col s6 align-left">
      <div class="card #ef9a9a black accent-5">
        <div class="container">
          <div class="card-title white-text card-padding-title">
            {{bio_title}}
          </div>
         <div class="white-text card-padding-text">
           {{bio_content}}

         </div>
        </div>
      </div>
    </div>

    <div class="col s6 align-right ">
      <div class="card #ef9a9a black accent-5">
        <div class="container">
          <div class="card-title white-text card-padding-title">
            {{signup_title}}
          </div>


      <div class="row">
   </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
    </div>

  </div>
</div>
</div>
</div> <!--XXX end of row for signup and bio -->


      <!--sign up to news letter form -->


</div>




{%endblock%}
